# Group number 2 Project 

## The members are:

* Hassain Alsayhah       ID: 202028180
* Mahdi Alkhalaf         ID: 202041560
* Mohaamed Almahaisen    ID: 202035880
* Nasrallah Aldar        ID: 202040600
* Mohana Al muhanna      ID: 202039320

# Discovery: 

## dataset:

### name: Saudi Arabia Weather History
### URL:  https://www.kaggle.com/datasets/esraamadi/saudi-arabia-weather-history

#### description:
this dataset, provide hourly historical weather data for all Saudi Arabia cities from 2017 to 2019 . Included a date for which you would like to see weather history such as temperature, wind, humidity, barometer, and visibility.

## Data Preparation

In [271]:
# importing the laibrarys that are needed 
import pandas as pd 
import matplotlib.pyplot as plt


# reading and displaying the data
dataFrame = pd.read_csv("dataset/weather-sa-2017-2019-corrupted.csv")
display(dataFrame.head())
display(dataFrame.info())

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,NaN,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.0,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.0,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.0,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.0,0,Clear,15,9,72%,1019.0,16

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   city        249023 non-null  object
 1   date        249022 non-null  object
 2   time        249023 non-null  object
 3   year        249023 non-null  int64
 4   month       249023 non-null  int64
 5   day         249023 non-null  int64
 6   hour        249022 non-null  float64
 7   minute      249023 non-null  int64
 8   weather     249020 non-null  object
 9   temp        249023 non-null  int64
 10  wind        249023 non-null  int64
 11  humidity    249006 non-null  object
 12  barometer   248951 non-null  float64
 13  visibility  249023 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 26.6+ MB

None

In [272]:
# processing and cleaning the data

# Filter/smooth noisy data: Any negative numeric value should be replaced by its absolute value.
display(dataFrame)

# selecteing the numirce columns only
selected_cols= dataFrame.select_dtypes(exclude='object').columns

# we dropped visibility because it is natural for it to have negative values 
selected_cols = selected_cols.drop('visibility')
display(selected_cols)

dataFrame[selected_cols]=dataFrame[selected_cols].applymap(lambda x: x if x>=0 else abs(x))
display(dataFrame)

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,NaN,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.0,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.0,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.0,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.0,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19.0,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20.0,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21.0,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22.0,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23.0,0,Clear,24,7,29%,1017.0,16

Index(['year', 'month', 'day', 'hour', 'minute', 'temp', 'wind', 'barometer'], dtype='object')

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,NaN,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.0,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.0,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.0,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.0,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19.0,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20.0,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21.0,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22.0,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23.0,0,Clear,24,7,29%,1017.0,16

In [273]:
# Handle any missing data appropriately: Replace it with mean or mode for numeric or non-numeric data respectively.

# To identity the location of missing values we can use the following:
dataFrame.isna()

#  Identify the columns containing null values
null_columns=dataFrame.columns[dataFrame.isna().any()]
print('Columns with NaN values are:', null_columns)

#fill NaN values with mean or mode
for c in null_columns:
    if dataFrame[c].dtype!='object':
        value = dataFrame[c].mean()
    else:
        value = dataFrame[c].mode()
        value = value[0]  #0 will be the row(s) name
    dataFrame[c].fillna(value,inplace=True)

display(dataFrame)

Columns with NaN values are: Index(['date', 'hour', 'weather', 'humidity', 'barometer'], dtype='object')

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,12.536844,0,Clear,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.000000,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.000000,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.000000,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.000000,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19.000000,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20.000000,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21.000000,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22.000000,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23.000000,0,Clear,24,7,29%,1017.0,16

In [274]:
# remobeing the outliers 


# to find the outlies
def outliers(df, feature):
    Q1 = df[feature].quantile(0.25)
    Q3 = df[feature].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    list_of_outliers_indexes = df.index[(df[feature] < lower_bound) | (df[feature] > upper_bound)]

    return list_of_outliers_indexes

In [275]:

# only these lables have outliers
print(selected_cols)

# shape before removing the outliers
display(dataFrame.shape)

index_list = []
for feature in selected_cols:
    index_list.extend(outliers(dataFrame,feature))

# as an example in line 24 thier is an outlier in month 
display(dataFrame.head(50))
dataFrame.drop(index_list,inplace=True)

# now the outlier is gone and also the others 
display(dataFrame.head(50))

# as a result of removing the outliers the shape of the data fram will change 
display(dataFrame.shape)

Index(['year', 'month', 'day', 'hour', 'minute', 'temp', 'wind', 'barometer'], dtype='object')

(249023, 14)

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,12.536844,0,Clear,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.000000,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.000000,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.000000,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.000000,0,Clear,15,9,72%,1019.0,16
5,Qassim,1 January 2017,06:00,2017,1,1,6.000000,0,Clear,13,13,82%,1019.0,16
6,Qassim,1 January 2017,07:00,2017,1,1,7.000000,0,Sunny,12,7,88%,1019.0,16
7,Qassim,1 January 2017,08:00,2017,1,1,8.000000,0,Sunny,14,9,72%,1021.0,16
8,Qassim,1 January 2017,09:00,2017,1,1,9.000000,0,Sunny,15,9,72%,1021.0,7
9,Qassim,1 January 2017,10:00,2017,1,1,10.000000,0,Sunny,17,7,64%,1021.0,9
10,Qassim,1 January 2017,11:00,2017,1,1,11.000000,0,Sunny,19,19,64%,1021.0,7
11,Qassim,1 January 2017,12:00,2017,1,1,12.000000,0,Sunny,20,19,60%,1020.0,16
12,Qassim,1 January 2017,13:00,2017,1,1,13.000000,0,Sunny,21,15,57%,1020.0,16
13,Qassim,1 January 2017,14:00,2017,1,1,14.000000,0,Sunny,22,15,53%,1019.0,16
14,Qassim,1 January 2017,15:00,2017,1,1,15.000000,0,Sunny,23,15,50%,1018.0,16
15,Qassim,1 January 2017,16:00,2017,1,1,16.000000,0,Sunny,22,22,53%,1018.0,16
16,Qassim,1 January 2017,17:00,2017,1,1,17.000000,0,Sunny,20,20,46%,1018.0,16
17,Qassim,1 January 2017,18:00,2017,1,1,18.000000,0,Clear,19,19,49%,1019.0,16
18,Qassim,1 January 2017,19:00,2017,1,1,19.000000,0,Clear,17,19,56%,1019.0,16
19,Qassim,1 January 2017,20:00,2017,1,1,20.000000,0,Clear,16,22,59%,1020.0,16
20,Qassim,1 January 2017,21:00,2017,1,1,21.000000,0,Clear,16,20,63%,1020.0,16
21,Qassim,1 January 2017,22:00,2017,1,1,22.000000,0,Clear,15,19,68%,1020.0,16
22,Qassim,1 January 2017,23:00,2017,1,1,23.000000,0,Clear,14,15,72%,1020.0,16
23,Qassim,2 January 2017,00:00,2017,1,2,24.000000,0,Clear,14,13,77%,1020.0,16
24,Qassim,2 January 2017,01:00,2017,100,2,1.000000,0,Clear,13,13,77%,1020.0,16
25,Qassim,2 January 2017,02:00,2017,1,2,2.000000,0,Clear,12,9,88%,1020.0,16
26,Qassim,2 January 2017,03:00,2017,1,2,3.000000,0,Clear,11,9,82%,1019.0,16
27,Qassim,2 January 2017,04:30,2017,1,2,4.000000,30,Clear,10,9,88%,1019.0,16
28,Qassim,2 January 2017,05:00,2017,1,2,5.000000,0,Clear,9,17,87%,1020.0,16
29,Qassim,2 January 2017,06:00,2017,1,2,6.000000,0,Clear,10,4,88%,1019.0,16
30,Qassim,2 January 2017,07:00,2017,1,2,7.000000,0,Sunny,9,7,87%,1019.0,16
31,Qassim,2 January 2017,08:00,2017,1,2,8.000000,0,Sunny,10,9,88%,1020.0,16
32,Qassim,2 January 2017,09:00,2017,1,2,9.000000,0,Scattered clouds,12,15,82%,1020.0,-1
33,Qassim,2 January 2017,10:00,2017,1,2,10.000000,0,Scattered clouds,15,7,72%,1020.0,-1
34,Qassim,2 January 2017,11:00,2017,1,2,11.000000,0,Scattered clouds,18,7,60%,1020.0,-1
35,Qassim,2 January 2017,12:00,2017,1,2,12.000000,0,Scattered clouds,20,4,56%,1019.0,-1
36,Qassim,2 January 2017,13:00,2017,1,2,13.000000,0,Scattered clouds,22,4,50%,1018.0,-1
37,Qassim,2 January 2017,14:00,2017,1,2,14.000000,0,Scattered clouds,23,7,47%,1017.0,-1
38,Qassim,2 January 2017,15:00,2017,1,2,15.000000,0,Scattered clouds,24,7,44%,1016.0,-1
39,Qassim,2 January 2017,16:00,2017,1,2,16.000000,0,Scattered clouds,24,9,44%,1016.0,-1
40,Qassim,2 January 2017,17:00,2017,1,2,17.000000,0,Partly sunny,23,4,44%,1017.0,-1
41,Qassim,2 January 2017,18:00,2017,1,2,18.000000,0,Passing clouds,22,7,47%,1017.0,-1
42,Qassim,2 January 2017,19:00,2017,1,2,19.000000,0,Passing clouds,20,7,53%,1017.0,-1
43,Qassim,2 January 2017,20:00,2017,1,2,20.000000,0,Passing clouds,19,9,56%,1018.0,-1
44,Qassim,2 January 2017,21:00,2017,1,2,21.000000,0,Clear,18,7,56%,1017.0,16
45,Qassim,2 January 2017,22:00,2017,1,2,22.000000,0,Clear,18,7,56%,1018.0,16
46,Qassim,2 January 2017,23:00,2017,1,2,23.000000,0,Clear,17,11,56%,1018.0,16
47,Qassim,3 January 2017,00:00,2017,1,3,24.000000,0,NaN,15,15,59%,1018.0,16
48,Qassim,3 January 2017,01:00,2017,1,3,1.000000,0,Clear,14,20,59%,1018.0,16
49,Qassim,3 January 2017,02:00,2017,1,3,2.000000,0,Clear,14,11,63%,1019.0,16

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,12.536844,0,Clear,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1.000000,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3.000000,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4.000000,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5.000000,0,Clear,15,9,72%,1019.0,16
5,Qassim,1 January 2017,06:00,2017,1,1,6.000000,0,Clear,13,13,82%,1019.0,16
6,Qassim,1 January 2017,07:00,2017,1,1,7.000000,0,Sunny,12,7,88%,1019.0,16
7,Qassim,1 January 2017,08:00,2017,1,1,8.000000,0,Sunny,14,9,72%,1021.0,16
8,Qassim,1 January 2017,09:00,2017,1,1,9.000000,0,Sunny,15,9,72%,1021.0,7
9,Qassim,1 January 2017,10:00,2017,1,1,10.000000,0,Sunny,17,7,64%,1021.0,9
10,Qassim,1 January 2017,11:00,2017,1,1,11.000000,0,Sunny,19,19,64%,1021.0,7
11,Qassim,1 January 2017,12:00,2017,1,1,12.000000,0,Sunny,20,19,60%,1020.0,16
12,Qassim,1 January 2017,13:00,2017,1,1,13.000000,0,Sunny,21,15,57%,1020.0,16
13,Qassim,1 January 2017,14:00,2017,1,1,14.000000,0,Sunny,22,15,53%,1019.0,16
14,Qassim,1 January 2017,15:00,2017,1,1,15.000000,0,Sunny,23,15,50%,1018.0,16
15,Qassim,1 January 2017,16:00,2017,1,1,16.000000,0,Sunny,22,22,53%,1018.0,16
16,Qassim,1 January 2017,17:00,2017,1,1,17.000000,0,Sunny,20,20,46%,1018.0,16
17,Qassim,1 January 2017,18:00,2017,1,1,18.000000,0,Clear,19,19,49%,1019.0,16
18,Qassim,1 January 2017,19:00,2017,1,1,19.000000,0,Clear,17,19,56%,1019.0,16
19,Qassim,1 January 2017,20:00,2017,1,1,20.000000,0,Clear,16,22,59%,1020.0,16
20,Qassim,1 January 2017,21:00,2017,1,1,21.000000,0,Clear,16,20,63%,1020.0,16
21,Qassim,1 January 2017,22:00,2017,1,1,22.000000,0,Clear,15,19,68%,1020.0,16
22,Qassim,1 January 2017,23:00,2017,1,1,23.000000,0,Clear,14,15,72%,1020.0,16
23,Qassim,2 January 2017,00:00,2017,1,2,24.000000,0,Clear,14,13,77%,1020.0,16
25,Qassim,2 January 2017,02:00,2017,1,2,2.000000,0,Clear,12,9,88%,1020.0,16
26,Qassim,2 January 2017,03:00,2017,1,2,3.000000,0,Clear,11,9,82%,1019.0,16
28,Qassim,2 January 2017,05:00,2017,1,2,5.000000,0,Clear,9,17,87%,1020.0,16
29,Qassim,2 January 2017,06:00,2017,1,2,6.000000,0,Clear,10,4,88%,1019.0,16
30,Qassim,2 January 2017,07:00,2017,1,2,7.000000,0,Sunny,9,7,87%,1019.0,16
31,Qassim,2 January 2017,08:00,2017,1,2,8.000000,0,Sunny,10,9,88%,1020.0,16
32,Qassim,2 January 2017,09:00,2017,1,2,9.000000,0,Scattered clouds,12,15,82%,1020.0,-1
33,Qassim,2 January 2017,10:00,2017,1,2,10.000000,0,Scattered clouds,15,7,72%,1020.0,-1
34,Qassim,2 January 2017,11:00,2017,1,2,11.000000,0,Scattered clouds,18,7,60%,1020.0,-1
35,Qassim,2 January 2017,12:00,2017,1,2,12.000000,0,Scattered clouds,20,4,56%,1019.0,-1
36,Qassim,2 January 2017,13:00,2017,1,2,13.000000,0,Scattered clouds,22,4,50%,1018.0,-1
37,Qassim,2 January 2017,14:00,2017,1,2,14.000000,0,Scattered clouds,23,7,47%,1017.0,-1
38,Qassim,2 January 2017,15:00,2017,1,2,15.000000,0,Scattered clouds,24,7,44%,1016.0,-1
39,Qassim,2 January 2017,16:00,2017,1,2,16.000000,0,Scattered clouds,24,9,44%,1016.0,-1
40,Qassim,2 January 2017,17:00,2017,1,2,17.000000,0,Partly sunny,23,4,44%,1017.0,-1
41,Qassim,2 January 2017,18:00,2017,1,2,18.000000,0,Passing clouds,22,7,47%,1017.0,-1
42,Qassim,2 January 2017,19:00,2017,1,2,19.000000,0,Passing clouds,20,7,53%,1017.0,-1
43,Qassim,2 January 2017,20:00,2017,1,2,20.000000,0,Passing clouds,19,9,56%,1018.0,-1
44,Qassim,2 January 2017,21:00,2017,1,2,21.000000,0,Clear,18,7,56%,1017.0,16
45,Qassim,2 January 2017,22:00,2017,1,2,22.000000,0,Clear,18,7,56%,1018.0,16
46,Qassim,2 January 2017,23:00,2017,1,2,23.000000,0,Clear,17,11,56%,1018.0,16
47,Qassim,3 January 2017,00:00,2017,1,3,24.000000,0,NaN,15,15,59%,1018.0,16
48,Qassim,3 January 2017,01:00,2017,1,3,1.000000,0,Clear,14,20,59%,1018.0,16
49,Qassim,3 January 2017,02:00,2017,1,3,2.000000,0,Clear,14,11,63%,1019.0,16
50,Qassim,3 January 2017,03:00,2017,1,3,3.000000,0,Clear,13,15,63%,1019.0,16
51,Qassim,3 January 2017,04:00,2017,1,3,4.000000,0,Clear,12,22,63%,1019.0,16

(244659, 14)