# Group number 2 Project 

## The members are:

* Hassain Alsayhah       ID: 202028180
* Mahdi Alkhalaf         ID: 202041560
* Mohaamed Almahaisen    ID: 202035880
* Nasrallah Aldar        ID: 202040600
* Mohana Al muhanna      ID: 202039320

# Discovery: 

## dataset:

### name: Saudi Arabia Weather History
### URL:  https://www.kaggle.com/datasets/esraamadi/saudi-arabia-weather-history

#### description:
this dataset, provide hourly historical weather data for all Saudi Arabia cities from 2017 to 2019 . Included a date for which you would like to see weather history such as temperature, wind, humidity, barometer, and visibility.

## Data Preparation

In [53]:
# importing the laibrarys that are needed 
import pandas as pd 

# reading and displaying the data
df = pd.read_csv("dataset/weather-sa-2017-2019-corrupted.csv")
display(df.head())
display(df.info())

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,24,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   city        249023 non-null  object
 1   date        249022 non-null  object
 2   time        249023 non-null  object
 3   year        249023 non-null  int64
 4   month       249023 non-null  int64
 5   day         249023 non-null  int64
 6   hour        249023 non-null  int64
 7   minute      249023 non-null  int64
 8   weather     249020 non-null  object
 9   temp        249023 non-null  int64
 10  wind        249023 non-null  int64
 11  humidity    249006 non-null  object
 12  barometer   248951 non-null  float64
 13  visibility  249023 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 26.6+ MB

None

In [54]:
# processing and cleaning the data

# Filter/smooth noisy data: Any negative numeric value should be replaced by its absolute value.
display(df)

# selecteing the numirce columns only
selected_cols= df.select_dtypes(exclude='object').columns

# we dropped visibility because it is natural for it to have negative values 
selected_cols = selected_cols.drop('visibility')
display(selected_cols)

df[selected_cols]=df[selected_cols].applymap(lambda x: x if x>=0 else abs(x))
display(df)

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,24,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16

Index(['year', 'month', 'day', 'hour', 'minute', 'temp', 'wind', 'barometer'], dtype='object')

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,24,0,NaN,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16

In [61]:
# Handle any missing data appropriately: Replace it with mean or mode for numeric or non-numeric data respectively.

# To identity the location of missing values we can use the following:
df.isna()

#  Identify the columns containing null values
null_columns=df.columns[df.isna().any()]
print('Columns with NaN values are:', null_columns)

#fill NaN values with mean or mode
for c in null_columns:
    if df[c].dtype!='object':
        value = df[c].mean()
    else:
        value = df[c].mode()
        value = value[0]  #0 will be the row(s) name
    df[c].fillna(value,inplace=True)

display(df)

Columns with NaN values are: Index([], dtype='object')

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,Jawf,30 April 2019,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1
249019,Jawf,30 April 2019,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1
249020,Jawf,30 April 2019,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1
249021,Jawf,30 April 2019,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16
249022,Jawf,30 April 2019,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16

In [ ]:
# remobeing the outliers 

import matplotlib.pyplot as plt

# to remove the outlies
def remove_outliers(df, feature):
    Q1 = df[feature].quantile(0.25)
    Q3 = df[feature].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    list_of_outliers_indexes = df.index[(df[feature] < lower_bound) | (df[feature] > upper_bound)]

    list_of_outliers_indexes = sorted(set(list_of_outliers_indexes))
    df = df.drop(list,inplace=True)
    return df